.navbar {
  padding: 20px 30px;
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-width: 100vw;
  background: white;
  @media screen and (max-width: 900px) {
    padding: 20px;
  }
}

.navbar--logo-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  .logo-link {
    flex: 1;
  }
}
.sideMenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  z-index: 100000;
  transition: all 0.8s;
  overflow: hidden;

  &.hideMenu {
    display: none;
  }
  .menu-contianer {
    height: 100%;
    width: 75vw;
    background: #fff;
    float: right;
    position: relative;
    overflow-y: scroll;
    padding: 13rem 4rem 10rem 4rem;
    &__logo {
      position: absolute;
      left: 1rem;
      top: 1rem;
      width: 40px;
    }
    .cross-icon {
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      font-size: 3rem;
      cursor: pointer;
      svg {
        color: #0d3c2a;
      }
    }

    .sidebar-menu {
      display: flex;
      flex-direction: column;
      &__ecocart {
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 16px;
          color: #0d3c2a;
          font-weight: 500;
        }
        a {
          margin-left: 2rem;
          text-decoration: none;
          font-size: 16px;
          color: #0d3c2a;
          margin-top: 1.5rem;
          &:hover {
            text-decoration: none;
          }
        }
      }
      &__businesses {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        h2 {
          font-size: 16px;
          color: #0d3c2a;
          font-weight: 500;
        }
        a {
          margin-left: 2rem;
          text-decoration: none;
          font-size: 16px;
          color: #0d3c2a;
          margin-top: 1.5rem;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.nav-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar-sticky {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;

  &.bgWhite {
    background: rgba(255, 255, 255, 0.95);
    animation: moveDown 0.5s ease-in-out;
  }
}

.navbar-button {
  color: white;
  text-decoration: none;
  background-color: #00b04f;
  border-color: #00b04f;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  margin-left: auto;
}

.navbar-button:hover,
.navbar-button:focus {
  background-color: #ffffff;
  border-color: #00b04f;
  color: #00b04f;
}

.navbar--logo {
  width: 180px;
  min-width: 120px;
  @media (max-width: 650px) {
    width: 140px;
  }
}
.hamburger {
  margin-left: 1rem;
  font-size: 3rem;
  cursor: pointer;
  svg {
    color: #0d3c2a;
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
@media only screen and (min-width: 801px) {
  .hamburger,
  .sideMenu {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    padding: 15px;
  }
}
