#affiliate-stores {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eaf6fa;
  padding: 20rem 0;
  position: relative;
  #affiliate-title {
    font-size: 5rem;
    font-weight: bold;
    color: #0c3c2a;
    position: relative;
    @media (max-width: 1200px) {
      font-size: 4rem;
    }
    @media (min-width: 1800px) {
      font-size: 4.3rem;
    }
  }

  /* Store image sizes */
  .store-lg {
    position: absolute;
    height: 14rem;
    width: 14rem;
  }

  .store-md {
    position: absolute;
    height: 12rem;
    width: 12rem;
  }

  /* Store positioning */
  #foot-locker {
    left: 200px;
    top: -20px;
  }

  #freshly {
    left: 80px;
    top: 80px;
  }

  #glossier {
    left: 240px;
    top: 220px;
  }

  #ugg {
    left: 100px;
    top: 340px;
  }

  #kohls {
    bottom: -30px;
    left: 350px;
  }

  #levis {
    right: 200px;
    top: -20px;
  }

  #nixon {
    right: 80px;
    top: 80px;
  }

  #petco {
    right: 240px;
    top: 220px;
  }

  #ulta_beauty {
    right: 100px;
    top: 340px;
  }

  #vans {
    bottom: -30px;
    right: 350px;
  }
  @media only screen and (min-width: 1800px) {
    #foot-locker {
      left: 300px;
      top: 20px;
    }

    #freshly {
      left: 180px;
      top: 160px;
    }

    #glossier {
      left: 340px;
      top: 260px;
    }

    #ugg {
      left: 200px;
      top: 380px;
    }

    #kohls {
      bottom: 110px;
      left: 450px;
    }

    #levis {
      right: 300px;
      top: 20px;
    }

    #nixon {
      right: 180px;
      top: 160px;
    }

    #petco {
      right: 340px;
      top: 260px;
    }

    #ulta_beauty {
      right: 200px;
      top: 380px;
    }

    #vans {
      bottom: 110px;
      right: 450px;
    }
  }

  @media only screen and (max-width: 1030px) {
    #foot-locker {
      left: 100px;
      top: -10px;
    }

    #freshly {
      left: 20px;
      top: 120px;
    }

    #glossier {
      left: 130px;
      top: 200px;
    }

    #ugg {
      left: 0;
      top: 260px;
    }

    #kohls {
      bottom: -15px;
      left: 200px;
    }

    #levis {
      right: 100px;
      top: -10px;
    }

    #nixon {
      right: 20px;
      top: 120px;
    }

    #petco {
      right: 130px;
      top: 200px;
    }

    #ulta_beauty {
      right: 0;
      top: 260px;
    }

    #vans {
      bottom: -15px;
      right: 200px;
    }
  }

  @media (max-width: 720px) {
    .store-lg {
      height: 12rem;
      width: 12rem;
    }

    .store-md {
      height: 10rem;
      width: 10rem;
    }
    #foot-locker {
      left: 80px;
      top: -20px;
    }

    #freshly {
      left: 0px;
      top: 70px;
    }

    #glossier {
      left: 180px;
      top: 40px;
    }

    #ugg {
      left: 0;
      top: 220px;
    }

    #kohls {
      bottom: -15px;
      left: 100px;
    }
    #levis {
      right: 80px;
      top: -20px;
    }

    #nixon {
      right: 0px;
      top: 70px;
    }

    #petco {
      right: 170px;
      top: 220px;
    }

    #ulta_beauty {
      right: 0;
      top: 220px;
    }

    #vans {
      bottom: -15px;
      right: 100px;
    }
  }
}

@media only screen and (max-width: 400px) {
}
