.row-title {
  padding: 20px !important;
}

.row-content-text {
  padding: 20px !important;
  padding-top: 0px !important;
}

.row-title:hover {
  color: #00b04f !important;
}

.expanded {
  color: #00b04f !important;
}

.faq-row div:last-of-type {
  width: 85%;
}