.row-title {
  padding: 20px !important;
  font-size: 16px !important;
}

.row-content-text {
  padding: 20px !important;
  padding-top: 0px !important;
}

.row-title:hover {
  color: #00b04f !important;
}

.expanded {
  color: #00b04f !important;
}

.more-faqs {
  color: #00b04f !important;
  font-size: 1.6rem;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}
