.row-title {
  padding: 20px !important;
  font-size: 15px !important;
}

.row-content-text {
  padding: 20px !important;
  padding-top: 0px !important;
  font-size: 15px !important;
  line-height: 1.6;
}

.row-title:hover {
  color: #00b04f !important;
}

.expanded {
  color: #00b04f !important;
}

.more-faqs {
  color: #00b04f !important;
  font-size: 1.6rem;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

span.icon-wrapper.styles_icon-wrapper__wjX56 {
  @media (max-width: 600px) {
    min-width: 30px;
  }
}
