.box {
  display: flex;
  border-radius: 15px;
  background-color: #80b5d5;
  height: 20vh;
  padding: 4vh;
  margin-right: 30px;
  margin-bottom: 30px;
}
#icon {
  width: auto;
  height: 12vh;
  margin-right: 25px;
}
#count {
  font-weight: 600;
  font-size: 4.8rem;
  color: white;
  width: 100%;
  text-align: center;
}
#stat {
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}
.impact-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
