/* Styles for the entire landing component */
#landing {
  position: relative;
  width: 100%;
  height: 100vh;
  // background-image: url("../images/hero.svg");
  background-image: linear-gradient(right, #5D97B7, #5D97B7 39%, transparent 39%, transparent 100%);
  background-image: -webkit-linear-gradient(right, #5D97B7, #5D97B7 39%, transparent 39%, transparent 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 450px) {
    background: #eaf6fa;
  }

  h1 {
    width: 135%;
    font-size: 4.4rem;
    font-weight: bold;
    color: #0d3c2a;
    line-height: 1.25;
    @media (max-width: 450px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  h3 {
    font-size: 1.75rem;
    line-height: 1.7;
    margin-top:1.5rem;
    margin-bottom: 1.5rem;
    width: 90%;
    @media (max-width: 450px) {
      margin-top: 3rem;
      line-height: 1.4;
      margin-bottom: 0;
      margin: 0 auto;
      width: 95%;
      font-size: 2.5rem;
    }
  }
  /* Styles for the EcoCart logo */

  /* Styles for the text in front of the wallpaper */
  #content {
    text-align: left;
    margin-left: 0rem!important;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 450px) {
      position: relative;
      margin-left: 0!important;
      padding-left: 0!important;
      padding-top: 12rem;
      width: 100%;
      top: 0%;
      text-align: center;
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }
  }

  #text-content {
    width: 35%;
    margin-left: 14rem;
    display: inline-block;
    @media (max-width: 450px) {
      width: 100%;
      text-align: center;
      margin-left: 0rem;
      margin-top: 0%;
    }
  }
  .desktoph {
    width:120%!important;
    @media (max-width: 450px) {
      display: none
    }
  }

  .mobileh {
      @media (min-width: 450px) {
        display: none
      }
  }
  .chrome-image {
    margin-top: 16px;
    display: none;
    width: 49%;
    @media (max-width: 450px) {
      margin-right: 9px;
      margin-bottom: 8px;
      margin-top: 3px;
      width: 30%;
      display: inline-block;
    }
  }

  .chrome-product-combined {
    margin-top: 50px;
    display: block;
    width: 49%;
    @media (max-width: 450px) {
      margin-top: 3px;
      margin: 0 auto;
      width: 60%;
      display: none;
    }
  }
  .inline-review {
    display: inline;
    font-size: 2rem;
    @media(min-width: 450px) {
      display: none;
    }
  }
  .product-review {
    margin-left: 5px;
    display: block;
    width: 57%;
    @media (max-width: 450px) {
      margin: 0 auto;
      width: 70%;
      display: none;
    }
  }
  /* Styles for the app button */
  .add-button {
    margin-top: 0.75rem;
    color: white;
    text-decoration: none;
    background-color: #00b04f;
    border-color: #00b04f;
    padding: 1.4rem 2rem;
    font-size: 1.6rem;
    &:hover {
      background-color: #ffffff;
      border-color: #00b04f;
      color: #00b04f;
    }
  }

  #image-content {
    width: 48%;
    display: inline-block;
    float:right;
    img {
      margin-top: 11%;
      display: block;
      margin: 0 auto;
      width:85%;
      @media (max-width: 450px) {
        width: 100%
      }
    }
    @media (max-width: 450px) {
      float: none;
      width: 95%;
    }
  }
  /* Styles and animations for the arrow that points downwards */
  .scroll-down {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    display: block;
    text-align: center;
    font-size: 0px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;
    cursor: pointer;
    @media (max-width: 600px) {
      left: 46%;
    }
  }
}
