.panel-default {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: #efefef;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
  @media (max-width: 600px) {
    max-width: 320px;
    margin: 0 auto;
  }
}

.panel {
  max-width: 800px;
  margin: 20px auto;
}

.panel-collapse {
  // max-height: 540px;
  overflow: hidden;
  transition: max-height 0.2s ease;
  // @media (min-width: 1000px) {
  //   height: 540px;
  // }
}

.panel-close {
  max-height: 0;
}

.panel-heading {
  display: flex;
  justify-content: left;
  border-bottom: solid rgb(204, 204, 204) 1px;
}

@media (max-width: 800px) {
  .panel-heading {
    flex-direction: column;
  }
}

.toggle-expand {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: #212529;
  font-weight: bold;
  @media (max-width: 600px) {
    font-size: 16px;
  }
  &:hover {
    text-decoration: none;
    color: #212529;
  }
}

#project-photo {
  width: 290px;
  height: 247px;
  padding: 10px;
  border-radius: 15px;
}

.project-icon {
  margin: 10px 0px;
}


#project-description {
  line-height: 25px;
}

#heading-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin: 10px 0px 25px 15px;
  font-size: 17px;
  font-weight: 500;
}


#project-title {
  font-size: 2.7rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
  @media (max-width: 600px) {
    font-size: 3rem;
  }
}

.box-label {
  font-size: 20px;
  font-weight: 600;
  color: #00b04e;
  text-align: center;
}

ul {
  list-style-image: url("../images/projects/check-16px.png");
}
.panel-collapse ul {
  height: 240px;
  @media (max-width: 600px) {
    height: auto;
  }
}

li {
  text-align: left;
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.sd-image {
  width: 85px;
  padding-bottom: 1vh;
  @media (max-width: 600px) {
    width: 75px;
  }
}

.project-images {
  display: flex;
  justify-content: flex-start;
}

.verification-image {
  width: auto;
  max-width: 160px;
  height: 80px;
  padding-bottom: 3vh;
  margin-right: 20px;
}

img[alt~="/static/gold-standard-99b0e4e73bad882238b9accef2ef7435.png"] {
  height: 40px !important;
  max-width: 180px;
  @media (min-width: 1680px) {
    height: 53px !important;
  }
}

@media (min-width: 1000px) {
  .project-boxes .row .panel-group:last-child {
    .project-images {
      margin-bottom: 20px;
      margin-top: 4rem;
    }
  }
}
@media (min-width: 1200px) {
  .project-boxes .row .panel-group:last-child {
    .project-images {
      margin-bottom: 3rem;
      margin-top: 2.5rem;
    }
  }
}
@media (min-width: 1700px) {
  .project-boxes .row .panel-group:last-child {
    .project-images {
      margin-bottom: 25px;
      margin-top: 2rem;
    }
  }
}
@media (max-width: 600px) {
  .verification-image {
    height: auto !important;
  }
}
