.panel-default {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: #efefef;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
}

.panel-collapse {
  max-height: 540px;
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.panel-close {
  max-height: 0;
}

.panel-heading {
  display: flex;
  justify-content: center;
}

.toggle-expand {
  cursor: pointer;
  border-bottom: 1.5px solid #00924a;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: #212529;
  &:hover {
    text-decoration: none;
    color: #212529;
  }
}

#project-photo {
  width: 100%;
  border-radius: 150%;
  max-width: 12.5rem;
  max-height: 12.5rem;
  padding: 10px;
  @media (max-width: 767px) {
    max-width: 15rem;
    max-height: 15rem;
  }
}

#heading-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#project-title {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: left;
}

.box-label {
  font-size: 20px;
  font-weight: 600;
  color: #00b04e;
  text-align: center;
}

ul {
  height: 240px;
  list-style-image: url("../images/projects/check-16px.png");
}

li {
  text-align: left;
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.sd-image {
  width: 75px;
  padding-bottom: 1vh;
}

.project-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.verification-image {
  width: auto;
  height: 8vh;
  padding-bottom: 3vh;
}
img[alt~="/static/gold-standard-99b0e4e73bad882238b9accef2ef7435.png"] {
  height: 4rem !important;
}
