.single-post {
  padding-top: 10rem;
  &__back {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    color: #00b04f !important;
    text-decoration: none;
    font-weight: 500;

    span {
      margin-right: 1rem;
      margin-top: -11px;
    }
  }
  .page-heading {
    margin: 2rem 0;
    text-align: left;

    &:before,
    &:after {
      display: none;
    }

    h2 {
      font-size: 3.2rem;
      background: transparent !important;
      padding: 0;
      @media (max-width: 600px) {
        font-size: 2.8rem;
      }
    }
  }
  &__img {
    border-radius: 0.5rem;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  &__info {
    text-align: left;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 1rem 0 0 0.5rem;
    @media (max-width: 600px) {
      font-size: 15px !important;
    }
    &___categories {
      margin-right: 1rem;
      display: flex;
      &-category {
        &:last-child {
          span {
            display: none !important;
          }
        }
      }
    }
    &___date {
      margin-left: 1rem;
    }
  }
  &__content {
    text-align: left;
    font-size: 16px;
    transition: all 0.3s;
    padding: 2rem 0;
    ul,
    ol {
      list-style-image: none;
      margin-left: 1.8rem;
    }
    @media (max-width: 600px) {
      font-size: 14px;
      padding: 2rem 0;
      ul,
      ol {
        li{
          font-size: 14px;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    h2 {
      font-weight: 600;
      margin-bottom: 1rem;
      padding-left: 0px!important;
      color: #222222;
    }

    @media only screen and (max-width: 600px) {
      h2 {
        font-size: 3rem;
      }
    }

    span {
      line-height: 1.75;
      font-weight: 450!important;
    }
    a {
      color: #00b04f !important;
    }
    a span {
      color: #00b04f !important;
      font-weight: 600!important;
      line-height: 1.5;
    }
    hr {
      color: #00b04f!important;
      background: #00b04f !important;
      border: 2px solid #00b04f !important;
    }
    p {
      padding-left: 0px!important;
      margin-bottom: 2rem;
    }
    p button {
      border-radius: 6px;
      color: #fff;
      text-decoration: none;
      background-color: #00b04f;
      border: none;
      padding: 1.4rem 2rem;
      font-size: 1.6rem;
      font-weight: 600;
    }

    p button:hover {
      color: #00b04f;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #00b04f;
      padding: 1.4rem 2rem;
      font-size: 1.6rem;
      font-weight: 600;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    blockquote {
      margin: 0 auto!important;
    }
    iframe {
      margin: 0 auto!important;
    }
  }
}
.recent-posts {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #f0f0f0;
  @media (max-width: 767px) {
    display: none;
  }

  &__title {
    text-align: left;
    color: #7a7a7a !important;
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  .recent-post {
    transition: all 0.3s;
    border-radius: 0.5rem;
    &:hover {
      box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.2);
      img {
        transform: scale(1.1) !important;
      }
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    a {
      text-decoration: none;
      color: #212529;
    }
    &__img {
      border-radius: 0.5rem;
      overflow: hidden;
      img {
        width: 100%;
        transition: all 0.3s;
      }
    }
    h2 {
      font-size: 16px;
      text-align: left;
      margin: 1rem;
    }
  }
}

#blog {
  .cta {
    background: #eaf6fa !important;
    margin-top: 10rem !important;
  }
}
