.testimonial {
  padding-top: 5vw;
  width: 30vw;
  padding-bottom: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 2.55rem;
  }
}
#testimonials {
  h1 {
    font-size: 6.4rem;
    font-weight: bold;
  }
}

.text {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color: #0c3c2a;
}

.col {
  max-width: 40%;
}

.text h3 {
  font-weight: 700;
}

.carousel-indicators li {
  background-color: #797979;
  height: 3px;
  width: 40px;
  margin: 0px 5px;
}

.carousel-indicators .active {
  background-color: #029149;
}

.avatar {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  margin-right: 10px;
}

.quote {
  font-size: 1.9rem;
  margin-top: 1rem;
}
