.testimonial {
  padding-top: 6rem;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 2rem;
  }
}
#testimonials {
  h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #0d3c2a;
  }
  .carousel-indicators li {
    height: 5px;
  }
}

.text {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color: #0c3c2a;
}

// .col {
//   max-width: 40%;
// }

.text h3 {
  font-weight: 700;
  padding-bottom: 0;
  margin-bottom: 0;
}

.carousel-indicators li {
  background-color: #797979;
  height: 3px;
  width: 40px;
  margin: 0px 5px;
}

.carousel-indicators .active {
  background-color: #029149;
}

.avatar {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  margin-right: 10px;
}

.quote {
  font-size: 2.2rem;
  margin-top: 1rem;
}
@media (max-width: 600px) {
  .testimonial {
    flex-direction: column;
    width: auto;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .text {
    max-width: 80%;
  }
  .nameClass {
    justify-content: flex-start;
  }
}
