#why-ecocart {
  background-color: #eaf6fa;
  text-align: center;
  padding: 5vh 0;
  display: flex;
  align-items: center;
  h1 {
    font-size: 6.4rem;
    font-weight: bold;
  }
  .reason-title {
    font-size: 2.55rem;
    font-weight: 600;
  }
  .reason-description{
    font-size: 1.6rem;
  }
}

.reason-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 50px;
}

.reason-icon {
  height: 120px;
  width: 120px;
}

.control-icon {
  height: 100px;
  margin-top: 20px;
}

.reason-title {
  margin: 13px;
  font-weight: 600;
}

.reason-description {
  font-weight: 500;
  padding: 0px 20px;
}

/* Mobile styles */
@media only screen and (max-width: 400px) {
  #why-ecocart {
    height: auto;
  }

  .reason-container {
    flex-direction: column;
  }

  .reason {
    margin: 10px;
  }

  .control-icon {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1300px) {
  .line-break {
    display: none;
  }

  .reason {
    width: 430px;
    margin: 0px 10px;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  #why-ecocart {
    height: 52vh;
  }
}
