#why-ecocart {
  background-color: #eaf6fa;
  text-align: center;
  padding: 8rem 0;
  display: flex;
  align-items: center;
  h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #0d3c2a;
  }
  .reason-title {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .reason-description {
    font-size: 1.5rem;
  }
}

.reason-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 50px;
}

.reason-icon {
  height: 120px;
  width: 120px;
}

.control-icon {
  max-height: 100px;
  margin-top: 20px;
  width: auto;
}

.reason-title {
  margin: 13px;
  font-weight: 600;
}

.reason-description {
  font-weight: 500;
  padding: 0px 20px;
}

.project-images {
  margin-top: 2rem;
}
.box:first-child {
  img {
    margin-right: 1.7rem !important;
  }
}

.box:nth-child(2) {
  img {
    margin-right: 4rem !important;
  }
}
/* Mobile styles */
@media only screen and (max-width: 400px) {
  #why-ecocart {
    height: auto;
  }

  .reason-container {
    flex-direction: column;
  }

  .reason {
    margin: 10px;
  }

  .control-icon {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1300px) {
  .line-break {
    display: none;
  }

  .reason {
    width: 430px;
    margin: 0px 10px;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  #why-ecocart {
    height: 52vh;
  }
}

@media (max-width: 1030px) {
  .reason-title {
    font-size: 24px !important;
  }
  .reason-description {
    font-size: 18px !important;
  }
}
