/* COLORS */
$color-green: #00b050;
$color-sky: #eaf6fa;
$color-black: #0d3c2a;
$color-light-black: #404040;
$color-white: #fff;
$color-light: #e0e0e0;

/* FONT FAMILIES */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
$font-primary: "Montserrat", sans-serif;
