.about {
  &__hero {
    padding: 12rem 0;
    &-sub_heading {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #747474;
      display: inline;
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
        background-color: #747474;
        width: 3.5rem;
        height: 0.2rem;
        top: 40%;
      }
      &:before {
        left: -4rem;
      }
      &:after {
        right: -4rem;
      }
    }
    &-heading {
      color: #0d3c2a;
      font-size: 4.8rem;
      font-weight: bold;
    }

    &-sheading {
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.3;
    }
    &-content {
      margin-top: 2rem;
      p {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 500;
      }
    }
  }

  .grid {
    margin: 4rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;

    div {
      width: 100%;
      min-height: 260px;
    }
    .div1 {
      grid-row: -1/1;
      grid-column: 1/2;
      height: 70%;
      align-self: center;
      grid-column: span 1 / span 2;
      background-image: url("../images/about1.svg");
      background-size: cover;
    }
    .div2 {
      grid-column: 2/3;
      grid-row: 1/2;
      background-color: #4ca3b8;
    }
    .div3 {
      grid-column: 3/4;
      grid-row: 1/2;
      background-image: url("../images/about4.svg");
      background-size: cover;
    }
    .div4 {
      width: 100%;
      height: 70%;
      align-self: center;
      grid-column: 4/5;
      grid-row: -1/1;
      background-color: #5d97b7;
    }
    .div5 {
      grid-row: 2/-1;
      grid-column: 2/3;
      background-image: url("../images/about5.svg");
      background-size: cover;
    }
    .div6 {
      grid-row: 2/-1;
      grid-column: 3/4;
      background-color: #009249;
    }
  }

  .info {
    background-color: #eaf6fa;
    padding: 6rem 0;

    h1 {
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #0d3c2a;
      display: inline;
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
        background-color: #747474;
        width: 4rem;
        height: 0.3rem;
        top: 45%;
      }
      &:before {
        left: -5rem;
      }
      &:after {
        right: -5rem;
      }
    }

    .infoBox {
      img {
        height: 10rem;
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 3.8rem;
        font-weight: bold;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }

  .business {
    padding: 6rem 0;

    &__grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-gap: 15px;
      width: 100%;
      div {
        min-height: 12rem;
        width: 100%;
      }
      .div1 {
        grid-column: 1/3;
        grid-row: 1/3;
        background-color: #4ca3b8;
      }
      .div2 {
        grid-column: 3/-1;
        grid-row: 1/3;
        background-image: url("../images/about5.svg");
        background-size: cover;
      }
      .div3 {
        grid-column: 1/3;
        grid-row: 3/-1;
        background-image: url("../images/about5.svg");
        background-size: cover;
      }
      .div4 {
        grid-column: 3/-1;
        grid-row: 3/-1;
        background-color: #009249;
      }
    }
    h2 {
      text-align: left;
      font-weight: bold;
      font-size: 3.2rem;
    }
    .content {
      text-align: left;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}
