.no-gutters {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.order-class {
  display: flex;
  flex-direction: column;
}
/* HOW IT WORKS SECTION */

#how-it-works {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 15rem 0;
  order: 2;
  @media (max-width: 780px) {
    order: 1;
  }
  .steps-container {
    #title {
      font-size: 5rem;
      font-weight: bold;
      color: #0d3c2a;
    }
    .step-content {
      h3 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}

/* IMPACT/PROJECTS SECTION */
#impact {
  background-color: #ffffff;
  height: auto;
  padding: 8rem 0;
  @media (min-width: 1000px) {
    padding: 5rem 0;
  }
  h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #0d3c2a;
  }
}

.impact-box-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 100vw;
}

.impact-subtitle-container {
  padding-bottom: 8vh;
}
.impact-sub-heading {
  width: 100%;
  line-height: 0.1em;
  font-size: 3.8rem;
  font-weight: 700;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: #000;
    top: 50%;
    left: 0;
    z-index: 0;
  }
}

.impact-sub-heading span {
  font-weight: 500;
  background: #fff;
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;
}

.project-boxes {
  display: flex;
  justify-content: center;
}

/* TESTIMONIAL SECTION */

#testimonials {
  padding: 8rem 0;
  text-align: center;
  background-color: #eaf6fa;
  height: auto;

  @media (min-width: 1000px) {
    padding: 5rem 0;
  }
}

/* QUESTIONS SECTION */

.faqs-homepage {
  padding: 8rem 0;

  .faq {
    border: 0px !important;
    border-top: 1px solid #ccc !important;
    &:first-child {
      border: 0px !important;
      border-top: 1px solid #ccc !important;
    }
    &:last-child {
      border: 0px !important;
      border-bottom: 1px solid #ccc !important;
    }
  }
  h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #0d3c2a;
    margin-bottom: 5rem;
  }
  .faq_title {
    color: #0d3c2a !important;
    padding: 10px 0;
  }
  .faqs:first-child .faq {
    border-top: 1px solid #ccc !important;
  }
  .faqs .faq:hover {
    .faq_title {
      color: #00b04f !important;
    }
  }
  .faq_body.card-body {
    padding: 0;
  }
}

.container {
  text-align: center;
}

/* BOTTOM SECTION */

#bottom {
  height: auto;
  padding-top: 7vh;
  padding-bottom: 7vh;
  text-align: center;
  background-color: #efefef;
}
.mailWidget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  .form-group {
    width: 100%;
    input {
      min-height: 6rem;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }
  }
  .message {
    font-size: 14px;
    color: #2ab050;
    margin-top: 2rem;
    background: #fff;
    width: 100%;
    font-weight: 500;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-error {
      color: #721c24 !important;
    }
    span {
      margin-bottom: 1rem;
      border-radius: 50%;
      background-color: #2ab050;
      padding: 1rem 1.5rem;
      svg {
        color: #fff;
      }
    }
  }

  button {
    min-height: 6rem;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }
}
@media (min-width: 450px) {
  .mailWidget {
    display: none;
  }
}
@media (max-width: 450px) {
  #landing .add-button,
  .navbar-button {
    display: none;
  }
}

.landing__btn {
  display: inline;
  position: relative;
  a {
    margin-top: 5rem;
  }
  img {
    position: absolute;
    top: -40px;
    right: -60px;
  }

  @media (max-width: 450px) {
    display: none;
  }
}
