.happy-customers {
    height: fit-content;
    background-color: #FAFAFA;
    padding: 50px;
    text-align: center;
}

.happy-customers-header {
    font-weight: bolder;
    font-size: 4rem;
    width: 600px;
    margin: auto;
}

.happy-customers-text {
    font-size: 20px;
    width: 700px;
    margin: auto;
    margin-top: 30px;
}

.shopify-logo-container {
    margin-top: 80px;
}

.shopify-logo{
    width: 280px;
    margin-bottom: 30px;
}