.privacy-policy {
  padding: 10rem 0;

  &__content {
    box-shadow: 0 0.2rem 0.9rem 0 rgba(13, 60, 42, 0.03);
    border: solid 0.1rem rgba(13, 60, 42, 0.06);
    border-radius: 0.2rem;
    padding: 4rem 3rem;
    margin: 2rem 0;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8;
    ul {
      height: auto;
      margin-left: 4rem;
      margin-bottom: 4rem;
      li {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.6;
      }
    }
    p {
      margin-bottom: 1.6rem;
    }
    b {
      font-size: 2.8rem;
    }
  }
}
